# Config
.idea
.npmrc
.svn
.*.swp
._*
.DS_Store
.git
.hg
.vscode
.lock-wscript
.wafpickle-*
config.gypi
CVS

# node_modules
templates/node_modules/*
templates/release/*
node_modules
node_modules/*
node_module/.bin/*

npm-debug.log

web/build/*
dist
lib
.temp
