# Config
.idea
.npmrc
.svn
.*.swp
._*
.DS_Store
.git
.hg
.lock-wscript
.wafpickle-*
config.gypi
CVS

# node_modules
templates/node_modules/*
node_modules
node_modules/*
node_module/.bin/*

npm-debug.log

templates/platforms/*
web/build/*
dist
.temp
